header{
    height: 122px;
    background-color: rgb(95, 83, 83);
    margin-bottom: 20px;
}
nav ul li {
    
    display: inline-block;
    padding-left: 26px;
    margin-right: 5px;
    margin-left: 124px;
    margin-top: 60px;
   
}
nav ul img{
    position: absolute;
    margin-left: 104px;
    margin-top: 27px;
}

 #one{
    display: inline-block;
    margin-left: 330px;
    margin-top: 56px;

   
}

nav ul li a {
    text-decoration: none;
    color: cornsilk;
}
section{
    clear: both;
}
  

 section article {
     text-align: center;
     

}

article div img{
    padding-top: 50px;
}

section article img{
    padding: 15px;
}

span{
    
    font-weight:bolder ;
    text-align: center;
    
}


section article:last-child img {

    float: left;
    padding-top: 20px;
    margin-left: 175px;

}

 article:last-child h4{
    padding-top: 20px;
    font-size: large;
    float: right;
    width: 550px;
    text-align: left;
    margin-right: 50px;
}

section article:last-child p {

    float:right;
    
    width: 400px;
    height: 480px;
    text-align: left;
    padding-left:10px ;
    margin-right: 200px;
    overflow-y:hidden;
    font-size: medium;
    }

    
footer{
    clear: both;
    background-color: rgb(94, 100, 97);
    padding: 35px;
}
article:last-child a{
    float: left;
    margin-left: 750px;
    text-decoration: none;
    background-color: black;
    width: 150px;
    height: 35px;
    line-height: 35px;
    color: cornsilk;
    margin-top: -86px;
    
}
article:last-child a:hover{
    background-color: cadetblue;
}
img{
    filter: invert(100%);
    
}
